* {
    box-sizing: border-box;
}


.areas {
    display: flex;
    height: 100%;
}

.content-area, .console-area {
    height: 100%;
    
    box-sizing: border-box;
    flex-grow: 1;
}

.content-area {
    min-width: 55%;
    padding: 0 36px;
}

.content-area > * {
    padding: 20px 0;
}

.content-area .html-area {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.content-area .script-area {
    min-height: 50%;
}

.console-area {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.code-headline {
    font-size: 20px;
    font-family: monospace;
    font-weight: normal;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;
}

.btn-run {
    font-size: 80%;
    float: right;
    padding: 0 3px;
    background:rgba(0,0,0,0.05);
}

.btn-run:hover {
    cursor: pointer;
}