<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Console</title>
    <meta id="meta" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" type="image/png">
    <link rel="stylesheet" href="~/css/console/console.css" />
    <link rel="stylesheet" href="~/css/plugins/highlight/vs.css">
</head>
    <body>
        <div class="areas">
            <div class="content-area">
                <div class="script-area">
                    <pre>
                        <code class="javascript" id="js-container"></code>
                    </pre>
                </div>
                <div class="html-area" id="html-container">
                    
                </div>
            </div>
            <div class="console-area">
                <form>
                    <textarea autofocus id="exec" spellcheck="false" autocapitalize="off" rows="1" autocorrect="off">
                        @RenderBody()
                    </textarea>
                </form>
                <div id="console">
                    <ul id="output"></ul>
                </div>
            </div>
        </div>
        <script src="~/js/lib/bluebird.min.js"></script>
        <script src="~/js/lib/lodash.js"></script>
        <script src="~/js/plugin/highlight/highlight.pack.js"></script>

        <script src="~/js/console/prettify.packed.js"></script>
        <script src="~/js/console/EventSource.js"></script>
        <script src="~/js/console/console.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>

        <script src="~/js/console/loadSnippet.js"></script>
    </body>
</html>
