<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/reveal/theme/default.css" id="theme">
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/lib/zenburn.css">
</head>
<body>
    @RenderBody()
</body>
</html>