<section>
  <h3>What is a promise?</h3>
  <p class="fragment">In its purest form, a promise is the result of an async operation</p>
  <p class="fragment">This means that we can write async code as part of our normal, synchronous flow, which we return as a promise.</p>
  <a class="fragment" href="/snippet#loadjson" target="_blank">Example - loadjson (es6 syntax)</a>
</section>
<section>
  <h3>How is this so different from what we already do?</h3>
  <p class="fragment">Promises do <u>not</u> give us something that could not already be accomplished in js.
  </p><p class="fragment">What it does is give us a tool for writing async code in a safer, more readable way.
  </p>
  <a class="fragment" href="/snippet#loadjson_no_promises" target="_blank">Example - loadjson - no promises</a>
  <p class="fragment">Not that much different? - We'll get to that in a second</p>
</section>
<section>

</section>
