<section>
    <h3>jsBites</h3>
    <h1>Promises</h1>
    <h2>- Your js tool for handling async complexity -</h2>
    <p>
        <small> - Kasper Storgaard <a href="mailto:kst@codehouse.com">kst@codehouse.com</a></small>
    </p>
</section>
