<section>
  <h2>Recap</h2>
</section>
<section>
  <h3>Links</h3>
  <div class="fragment">
  <p>promise libraries:</p>
  <ul>
    <li><a href="https://github.com/petkaantonov/bluebird">"Bluebird" - fully featured, high performance</a></li>
    <li><a href="https://github.com/kriskowal/q">"Q" - A+ promise spec, Angular.js' lib of choice</a></li>
    <li><a href="https://github.com/tildeio/rsvp.js/">"RSVP" - tiny, lightweight A+ spec subset</a></li>
  </ul>
  <p>articles:</p>
  <ul>
    <li><a href="http://abdulapopoola.com/2014/12/12/the-differences-between-jquery-deferreds-and-the-promisesa-spec/">differences between jquery deferreds and Promise A+ spec</a></li>
    <li><a href="https://promisesaplus.com/">The Promise A+ specification, pretty readable, dont worry about wall of text</a></li>
  </ul>
  </div>
</section>
